@charset "utf-8";
* {
    box-sizing: border-box;
}
.hero {
    background-image: url(../images/dog1.png);
    background-attachment: scroll;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-bottom: 100px;
    padding-right: 0px;
    background-position: 0% 0%;
    padding-left: 0px;
    padding-top: 170px;
    margin-left: 203px;
    float: none;
}
.col1 {
    background-image: url(../images/dog4-7.png);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 41%;
    cursor: pointer;
    position: relative;
}
.col1:hover {
    background-image: url(../images/dog4.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 41%;
    cursor: pointer;
    position: relative;
}
.col2 {
    background-image: url(../images/dog3-7.png);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 98%;
    cursor: pointer;
    position: relative;
}
.col2:hover {
    background-image: url(../images/dog3.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 98%;
    cursor: pointer;
    position: relative;
}
.col3 {
    background-image: url(../images/dog5-7.png);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
.col3:hover {
    background-image: url(../images/dog5.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.herotext {
    font-family: Righteous;
    margin-left: -186px;
    margin-top: 65px;
}
body {
    background-color: #FFEB9F;
}
html {
    background-color: #FFEB9F;
}
.btn {
    padding-left: 0px;
    padding-right: 1px;
    margin-left: 5px;
}
.navbar {
    font-family: Righteous;
    font-weight: normal;
    font-size: large;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 0px;
    margin-left: -9px;
}
.nav-item {
    padding-left: 0px;
    padding-right: 2px;
    margin-top: 23px;
}
h1 {
    font-size: 3em;
    font-family: Righteous;
    margin-right: 138px;
}
p {
    font-family: Righteous;
}
.hero .btnhero .btn.btn-outline-success.my-2.my-sm-0 {
    width: 11%;
    height: 3em;
}
.hero .btnhero {
    margin-left: -104px;
    width: 77%;
}
.herotext h1 .title {
    width: 330px;
    margin-top: -41px;
}
.logo {
    width: 134px;
}
.d-block.mx-auto {
    padding-right: 0px;
    width: 100%;
}
h2 {
    text-align: left;
    color: #000000;
}
footer {
    background-color: #583636;
    color: #F3E9E9;
    bottom: 0;
    width: 107%;
    text-align: justify;
    font-size: 1rem;
    float: right;
    margin-top: 100px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    margin-right: -2px;
}
.footer-link {
    color: #F3E9E9;
    text-decoration: underline;
}
#classes {
    float: left;
    width: 40%;
    background-attachment: fixed;
    display: block;
    background-repeat: no-repeat;
    background-origin: padding-box;
    margin-left: 15%;
}
.foot .rd {
    float: right;
    margin-right: 9%;
}
#hotel {
    float: right;
    width: 40%;
    padding-left: 0%;
    margin-left: 0%;
}
#captions1 {
    background-color: #FFFFFF;
    margin-right: 20%;
}
h3 {
    font-family: Righteous;
}
#captions2 {
    background-color: #FFFFFF;
    margin-right: 20%;
}
#hotelimg {
    width: 80%;
    padding-bottom: 0px;
    max-height: 379px;
}
#trainingimg {
    width: 80%;
}
.navbar-nav.mr-auto {
    width: 70%;
}
.button {
    font-size: x-large;
}
.learn {
    float: left;
    background-color: #F1B0B2;
    border-radius: 5px;
    border: thin solid;
    text-decoration: none;
    color: #000000;
}
.learn:hover {
    background-color: white;
    color: #F1B0B2;
}
.sign {
    float: left;
    margin-left: 16px;
    border-width: thin;
    border-style: solid;
    background-color: #A6D3F9;
    border-radius: 5px;
    color: #000000;
}
.sign:hover {
    background-color: white;
    color: #A6D3F9;
}
table {
    width: 100%;
}
.title {
    width: 383px;
    clear: none;
    float: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -61px;
    font-family: Righteous;
}
.about {
    border: 5px solid;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    transform: translate(0%, -0%);
    float: right;
    background-color: #FFFFFF;
    margin-top: 32px;
}
.container {
    position: relative;
    float: none;
}
.back {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-decoration: none;
    color: #000000;
    background-color: #F4B9BA;
    border: 1px solid #000000;
    border-radius: 2px;
}
.training {
    background-image: url(../images/dog2.png);
}
.col4 {
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-image: url(../images/cat.jpg);
    height: 901px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}
.col5 {
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: auto;
}
.col6 {
    width: 50%;
    float: left;
    background-image: url(../images/dog6.jpg);
    height: 900px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -30% 0%;
}
.button {
    font-family: Righteous;
}
.col7 {
    width: 50%;
    float: left;
}
.school {
    float: right;
    padding-left: 15%;
    padding-right: 15%;
}
.column {
    float: left;
    width: 33%;
    padding-top: 84px;
    padding-right: 84px;
    padding-left: 84px;
    padding-bottom: 84px;
    border: thin solid #000000;
    height: 350px;
}
.rowcat {
    clear: both;
}
.row {
    content: "";
    display: table;
    clear: both;
    padding-right: 0px;
}
@media (max-width: 1200px) {
    .main {}
}
header {
    grid-column: col-start / span 12;
    grid-row: 1;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
fieldset {
    border: 2px solid #000000;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
}
legend {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}
#message {
    width: 100%;
    min-height: 10em;
}
form {
    grid-column: col-start / span 12;
    grid-row: 2;
}
@media (max-width:450px) {
    .hero {
        margin-left: 110px;
        margin-top: -238px;
    }
    .foot .nd {
        clear: left;
        padding-left: 0%;
    }
    .herotext {
        margin-left: -98px;
        text-align: left;
        font-size: 65%;
    }
    .hero .herotext h2 {
        font-size: 162%;
    }
    #classes {
        float: right;
        width: 80%;
        margin-left: 2px;
    }
    #hotel {
        float: right;
        width: 80%;
    }
    .foot .st {
        padding-left: 11%;
    }
    .foot .rd {
        margin-right: 47%;
    }
    .foot table {}
    .title {
        width: 229px;
        margin-top: -42px;
    }
    .column {
        width: 100%;
    }
	.col4	{
	width:100%;
	height: 200px;
    }
	.col5	{
	width:100%;
    }
	.col6	{
	width:100%;
	height: 200px;
    }
	.col7	{
	width:100%;
    }
}
.foot .st {
    float: left;
    margin-left: 15%;
}
.foot .nd {
    float: left;
    margin-left: 25%;
}

